<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title></title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/stylesheet.css" rel="stylesheet">

  <!-- Font Awesome Icons from Bootstrap CDN -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<!-- Wrap all page content here -->
  <div id="wrap">

  <!-- Begin Fixed Navbar -->
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="images/mylocalgasman_logo.png" alt="My Local GasMan">
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#"><i class="fa fa-tag"></i> Installations</a></li>
            <li><a href="#about"><i class="fa fa-wrench"></i> Repair</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil-square-o"></i> Servicing <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li><a href="#contact"><i class="fa fa-building-o"></i> Commercial</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div><!--/.navbar-->
    <div class="sub-navbar navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Library</a></li>
              <li class="active">Data</li>
            </ol>            
          </div>
          <div class="col-sm-6">
            <span><i class="fa fa-map-marker"></i> Trentham Business Quarter, Bell Ringer Road, Trentham</span>
            <span><i class="fa fa-phone"></i>01782 654 950</span>   
          </div>
        </div>
      </div>
    </div><!--/.sub-navbar-->
  <!-- End Fixed Navbar -->

  <!-- Begin Jumbotron -->
  <%= erb :jumbotron %>
  <!-- End Jumbotron -->

  <!-- Begin Page Content Wrapper -->
    <div class="page-content-wrapper" role="main">
      <div class="container">

        <%= erb :box_big_image %>

        <div class="row">
          <%= erb :box_little %>
          <%= erb :box_little %>
        </div>

        <%= erb :box_image_right %>
        
        <%= erb :box_image_left %>
        
        <%= erb :box_big %>


        <div class="row">
          <div class="col-sm-12">

            <div class="box">
              <h1 class="title title-dark title-top-left">Why choose us?</h1>

              <img src="images/content1.png" width="1140" alt="Who are we?" class="img-responsive">

              <div class="box-content">
                <h3>How can we help you?</h3>
                <div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum laoreet vulputate. Sed sollicitudin metus vitae augue condimentum aliquam. Donec malesuada lorem eu leo fermentum porttitor. Vivamus metus elit, viverra non sapien et, cursus pellentesque ipsum.</p>
                </div>
                <button class="btn btn-primary">Learn More</button>
              </div>

            </div><!--/.box-->
          </div>
        </div>        

      </div>
    </div>
  <!-- End Page Content Wrapper -->

  </div>
<!-- End Wrap -->

  <div id="footer">
    <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
